@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
body {
  font-family: "Cutive Mono", monospace;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.2;
  text-shadow: 0.5px 0.5px 0px rgba(0, 0, 255, 0.8), -0.5px -0.5px 0px rgba(255, 0, 0, 0.8), 0px 0px 1px rgb(0, 0, 0);
  color: #d1ffff;
}

.btn {
  font-size: 1.8rem;
  -webkit-filter: contrast(120%);
          filter: contrast(120%);
  font-weight: 400;
}

h2 {
  font-weight: 800;
  font-size: 3.2rem;
  line-height: 1.6;
  text-shadow: 1px 1px 2px rgb(255, 0, 0), -1px -1px 2px rgb(0, 0, 255), 0px 0px 2px rgb(0, 0, 0);
}

p {
  font-size: 2rem;
}

.frame_descr {
  font-size: 2.4rem;
}

.blockR > * {
  font-size: 1.8rem;
}

.statuses_state-title {
  font-weight: 400;
  font-size: 2.8rem;
}

span {
  font-weight: 600;
  -webkit-filter: drop-shadow(0 0 1px rgba(0, 0, 0, 0.7));
          filter: drop-shadow(0 0 1px rgba(0, 0, 0, 0.7));
}

.resume > span {
  color: #d1ffff;
  font-size: 2rem;
}

@-webkit-keyframes scrollFrame {
  0% {
    z-index: -1;
    scale: 0%;
  }
  2.75% {
    z-index: 0;
    scale: 20%;
    visibility: visible;
  }
  11% {
    z-index: 0;
    scale: 20%;
  }
  13.75% {
    z-index: 1;
    scale: 55%;
  }
  22% {
    z-index: 1;
    scale: 55%;
  }
  24.75% {
    z-index: 4;
    scale: 95%;
  }
  33% {
    z-index: 4;
    scale: 95%;
  }
  35.75% {
    z-index: 5;
    scale: 100%;
    visibility: visible;
  }
  35.76% {
    z-index: 0;
    visibility: hidden;
  }
}

@keyframes scrollFrame {
  0% {
    z-index: -1;
    scale: 0%;
  }
  2.75% {
    z-index: 0;
    scale: 20%;
    visibility: visible;
  }
  11% {
    z-index: 0;
    scale: 20%;
  }
  13.75% {
    z-index: 1;
    scale: 55%;
  }
  22% {
    z-index: 1;
    scale: 55%;
  }
  24.75% {
    z-index: 4;
    scale: 95%;
  }
  33% {
    z-index: 4;
    scale: 95%;
  }
  35.75% {
    z-index: 5;
    scale: 100%;
    visibility: visible;
  }
  35.76% {
    z-index: 0;
    visibility: hidden;
  }
}
@-webkit-keyframes opacityFrame {
  0% {
    opacity: 1;
  }
  33% {
    opacity: 1;
  }
  34% {
    opacity: 0;
  }
}
@keyframes opacityFrame {
  0% {
    opacity: 1;
  }
  33% {
    opacity: 1;
  }
  34% {
    opacity: 0;
  }
}
@-webkit-keyframes inclusion {
  0% {
    visibility: hidden;
    opacity: 0;
  }
  49% {
    opacity: 0;
  }
  50% {
    visibility: visible;
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}
@keyframes inclusion {
  0% {
    visibility: hidden;
    opacity: 0;
  }
  49% {
    opacity: 0;
  }
  50% {
    visibility: visible;
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}
@-webkit-keyframes visiible {
  0% {
    -webkit-transform: translateZ(-4rem);
            transform: translateZ(-4rem);
    -webkit-filter: blur(2px);
            filter: blur(2px);
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    -webkit-filter: blur(0);
            filter: blur(0);
  }
}
@keyframes visiible {
  0% {
    -webkit-transform: translateZ(-4rem);
            transform: translateZ(-4rem);
    -webkit-filter: blur(2px);
            filter: blur(2px);
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    -webkit-filter: blur(0);
            filter: blur(0);
  }
}
@-webkit-keyframes openFigure {
  0% {
    fill: rgba(209, 255, 255, 0.8);
    -webkit-clip-path: polygon(49.8% 52%, 52.95% 49%, 55% 48%, 54% 45%, 53% 41.5%, 48.9% 41.5%, 47% 41.5%, 46% 44.55%, 45% 48%, 47% 49.8%);
            clip-path: polygon(49.8% 52%, 52.95% 49%, 55% 48%, 54% 45%, 53% 41.5%, 48.9% 41.5%, 47% 41.5%, 46% 44.55%, 45% 48%, 47% 49.8%);
    background: radial-gradient(at 50% 45.8%, transparent 0%, rgba(15, 116, 64, 0.4078431373) 30%, #0f7440 50%), conic-gradient(from 0.5turn at 50% 45.8%, transparent 0deg 36deg, #033119 36deg, #0f7440 72deg, transparent 72deg 108deg, #033119 108deg, #0f7440 144deg, transparent 144deg 180deg, #033119 180deg, #0f7440 216deg, transparent 216deg 252deg, #033119 252deg, #0f7440 288deg, transparent 288deg 324deg, #033119 324deg, #0f7440 360deg);
  }
  10% {
    fill: rgba(209, 255, 255, 0.6);
    background: radial-gradient(at 50% 45.8%, transparent 0%, rgba(15, 116, 64, 0.4078431373) 30%, #0f7440 50%), conic-gradient(from 0.5turn at 50% 45.8%, transparent 0deg 36deg, #033119 36deg, #0f7440 72deg, transparent 72deg 108deg, #033119 108deg, #0f7440 144deg, transparent 144deg 180deg, #033119 180deg, #0f7440 216deg, transparent 216deg 252deg, #033119 252deg, #0f7440 288deg, transparent 288deg 324deg, #033119 324deg, #0f7440 360deg);
  }
  20% {
    fill: rgba(209, 255, 255, 0.8);
    -webkit-clip-path: polygon(49.8% 75.5%, 53.7% 51.25%, 55% 48%, 54% 45%, 53% 41.5%, 48.9% 41.5%, 47% 41.5%, 46% 44.55%, 45% 48%, 46.1% 51%);
            clip-path: polygon(49.8% 75.5%, 53.7% 51.25%, 55% 48%, 54% 45%, 53% 41.5%, 48.9% 41.5%, 47% 41.5%, 46% 44.55%, 45% 48%, 46.1% 51%);
    background: radial-gradient(at 50% 45.8%, transparent 0%, #108c4c 30%, #34b573 50%), conic-gradient(from 0.5turn at 50% 45.8%, transparent 0deg 36deg, #033119 36deg, #0f7440 72deg, transparent 72deg 108deg, #033119 108deg, #0f7440 144deg, transparent 144deg 180deg, #033119 180deg, #0f7440 216deg, transparent 216deg 252deg, #033119 252deg, #0f7440 288deg, transparent 288deg 324deg, #033119 324deg, #0f7440 360deg);
  }
  30% {
    fill: rgba(209, 255, 255, 0.6);
    background: radial-gradient(at 50% 45.8%, transparent 0%, rgba(15, 116, 64, 0.4078431373) 30%, #0f7440 50%), conic-gradient(from 0.5turn at 50% 45.8%, transparent 0deg 36deg, #033119 36deg, #0f7440 72deg, transparent 72deg 108deg, #0f7440 108deg, #34b573 144deg, transparent 144deg 180deg, #033119 180deg, #0f7440 216deg, transparent 216deg 252deg, #033119 252deg, #0f7440 288deg, transparent 288deg 324deg, #033119 324deg, #0f7440 360deg);
  }
  40% {
    fill: rgba(209, 255, 255, 0.8);
    -webkit-clip-path: polygon(49.8% 75.5%, 53.7% 51.25%, 55% 48%, 54% 45%, 53% 41.5%, 49.8% 40%, 28% 12.95%, 44% 44%, 45% 48%, 46.1% 51%);
            clip-path: polygon(49.8% 75.5%, 53.7% 51.25%, 55% 48%, 54% 45%, 53% 41.5%, 49.8% 40%, 28% 12.95%, 44% 44%, 45% 48%, 46.1% 51%);
    background: radial-gradient(at 50% 45.8%, transparent 0%, #108c4c 30%, #34b573 50%), conic-gradient(from 0.5turn at 50% 45.8%, transparent 0deg 36deg, #033119 36deg, #0f7440 72deg, transparent 72deg 108deg, #033119 108deg, #0f7440 144deg, transparent 144deg 180deg, #033119 180deg, #0f7440 216deg, transparent 216deg 252deg, #033119 252deg, #0f7440 288deg, transparent 288deg 324deg, #033119 324deg, #0f7440 360deg);
  }
  50% {
    fill: rgba(209, 255, 255, 0.6);
    background: radial-gradient(at 50% 45.8%, transparent 0%, rgba(15, 116, 64, 0.4078431373) 30%, #0f7440 50%), conic-gradient(from 0.5turn at 50% 45.8%, transparent 0deg 36deg, #033119 36deg, #0f7440 72deg, transparent 72deg 108deg, #033119 108deg, #0f7440 144deg, transparent 144deg 180deg, #033119 180deg, #0f7440 216deg, transparent 216deg 252deg, #0f7440 252deg, #34b573 288deg, transparent 288deg 324deg, #033119 324deg, #0f7440 360deg);
  }
  60% {
    fill: rgba(209, 255, 255, 0.8);
    -webkit-clip-path: polygon(49.8% 75.51%, 64% 65%, 91.2% 59%, 54% 45%, 53% 41.5%, 49.8% 40%, 28% 12.95%, 44% 44%, 45% 48%, 46.1% 51%);
            clip-path: polygon(49.8% 75.51%, 64% 65%, 91.2% 59%, 54% 45%, 53% 41.5%, 49.8% 40%, 28% 12.95%, 44% 44%, 45% 48%, 46.1% 51%);
    background: radial-gradient(at 50% 45.8%, transparent 0%, #108c4c 30%, #34b573 50%), conic-gradient(from 0.5turn at 50% 45.8%, transparent 0deg 36deg, #033119 36deg, #0f7440 72deg, transparent 72deg 108deg, #033119 108deg, #0f7440 144deg, transparent 144deg 180deg, #033119 180deg, #0f7440 216deg, transparent 216deg 252deg, #033119 252deg, #0f7440 288deg, transparent 288deg 324deg, #033119 324deg, #0f7440 360deg);
  }
  70% {
    fill: rgba(209, 255, 255, 0.6);
    background: radial-gradient(at 50% 45.8%, transparent 0%, rgba(15, 116, 64, 0.4078431373) 30%, #0f7440 50%), conic-gradient(from 0.5turn at 50% 45.8%, transparent 0deg 36deg, #0f7440 36deg, #34b573 72deg, transparent 72deg 108deg, #033119 108deg, #0f7440 144deg, transparent 144deg 180deg, #033119 180deg, #0f7440 216deg, transparent 216deg 252deg, #033119 252deg, #0f7440 288deg, transparent 288deg 324deg, #033119 324deg, #0f7440 360deg);
  }
  80% {
    fill: rgba(209, 255, 255, 0.8);
    -webkit-clip-path: polygon(49.8% 75.51%, 64% 65%, 91.2% 59%, 54% 45%, 53% 41.5%, 49.8% 40%, 29.2% 16.45%, 24.69% 37.8%, 10.73% 58.3%, 35.59% 66.24%);
            clip-path: polygon(49.8% 75.51%, 64% 65%, 91.2% 59%, 54% 45%, 53% 41.5%, 49.8% 40%, 29.2% 16.45%, 24.69% 37.8%, 10.73% 58.3%, 35.59% 66.24%);
    background: radial-gradient(at 50% 45.8%, transparent 0%, #108c4c 30%, #34b573 50%), conic-gradient(from 0.5turn at 50% 45.8%, transparent 0deg 36deg, #033119 36deg, #0f7440 72deg, transparent 72deg 108deg, #033119 108deg, #0f7440 144deg, transparent 144deg 180deg, #033119 180deg, #0f7440 216deg, transparent 216deg 252deg, #033119 252deg, #0f7440 288deg, transparent 288deg 324deg, #033119 324deg, #0f7440 360deg);
  }
  90% {
    fill: rgba(209, 255, 255, 0.6);
    background: radial-gradient(at 50% 45.8%, transparent 0%, rgba(15, 116, 64, 0.4078431373) 30%, #0f7440 50%), conic-gradient(from 0.5turn at 50% 45.8%, transparent 0deg 36deg, #033119 36deg, #0f7440 72deg, transparent 72deg 108deg, #033119 108deg, #0f7440 144deg, transparent 144deg 180deg, #0f7440 180deg, #34b573 216deg, transparent 216deg 252deg, #033119 252deg, #0f7440 288deg, transparent 288deg 324deg, #033119 324deg, #0f7440 360deg);
  }
  95% {
    fill: rgba(209, 255, 255, 0.8);
    -webkit-clip-path: polygon(49.8% 75.51%, 64% 65%, 91.2% 59%, 73.8% 38%, 67.68% 20.58%, 49.8% 21.25%, 29.2% 16.45%, 24.69% 37.8%, 10.73% 58.3%, 35.59% 66.24%);
            clip-path: polygon(49.8% 75.51%, 64% 65%, 91.2% 59%, 73.8% 38%, 67.68% 20.58%, 49.8% 21.25%, 29.2% 16.45%, 24.69% 37.8%, 10.73% 58.3%, 35.59% 66.24%);
    background: radial-gradient(at 50% 45.8%, transparent 0%, #108c4c 30%, #34b573 50%), conic-gradient(from 0.5turn at 50% 45.8%, transparent 0deg 36deg, #033119 36deg, #0f7440 72deg, transparent 72deg 108deg, #033119 108deg, #0f7440 144deg, transparent 144deg 180deg, #033119 180deg, #0f7440 216deg, transparent 216deg 252deg, #033119 252deg, #0f7440 288deg, transparent 288deg 324deg, #033119 324deg, #0f7440 360deg);
  }
  100% {
    fill: rgba(209, 255, 255, 0.6);
    -webkit-clip-path: polygon(49.8% 75.51%, 64% 65%, 91.2% 59%, 73.8% 38%, 67.68% 20.58%, 49.8% 21.25%, 29.2% 16.45%, 24.69% 37.8%, 10.73% 58.3%, 35.59% 66.24%);
            clip-path: polygon(49.8% 75.51%, 64% 65%, 91.2% 59%, 73.8% 38%, 67.68% 20.58%, 49.8% 21.25%, 29.2% 16.45%, 24.69% 37.8%, 10.73% 58.3%, 35.59% 66.24%);
    background: radial-gradient(at 50% 45.8%, transparent 0%, rgba(15, 116, 64, 0.4078431373) 30%, #0f7440 50%), conic-gradient(from 0.5turn at 50% 45.8%, transparent 0deg 36deg, #033119 36deg, #0f7440 72deg, transparent 72deg 108deg, #033119 108deg, #0f7440 144deg, transparent 144deg 180deg, #033119 180deg, #0f7440 216deg, transparent 216deg 252deg, #033119 252deg, #0f7440 288deg, transparent 288deg 324deg, #033119 324deg, #0f7440 360deg);
  }
}
@keyframes openFigure {
  0% {
    fill: rgba(209, 255, 255, 0.8);
    -webkit-clip-path: polygon(49.8% 52%, 52.95% 49%, 55% 48%, 54% 45%, 53% 41.5%, 48.9% 41.5%, 47% 41.5%, 46% 44.55%, 45% 48%, 47% 49.8%);
            clip-path: polygon(49.8% 52%, 52.95% 49%, 55% 48%, 54% 45%, 53% 41.5%, 48.9% 41.5%, 47% 41.5%, 46% 44.55%, 45% 48%, 47% 49.8%);
    background: radial-gradient(at 50% 45.8%, transparent 0%, rgba(15, 116, 64, 0.4078431373) 30%, #0f7440 50%), conic-gradient(from 0.5turn at 50% 45.8%, transparent 0deg 36deg, #033119 36deg, #0f7440 72deg, transparent 72deg 108deg, #033119 108deg, #0f7440 144deg, transparent 144deg 180deg, #033119 180deg, #0f7440 216deg, transparent 216deg 252deg, #033119 252deg, #0f7440 288deg, transparent 288deg 324deg, #033119 324deg, #0f7440 360deg);
  }
  10% {
    fill: rgba(209, 255, 255, 0.6);
    background: radial-gradient(at 50% 45.8%, transparent 0%, rgba(15, 116, 64, 0.4078431373) 30%, #0f7440 50%), conic-gradient(from 0.5turn at 50% 45.8%, transparent 0deg 36deg, #033119 36deg, #0f7440 72deg, transparent 72deg 108deg, #033119 108deg, #0f7440 144deg, transparent 144deg 180deg, #033119 180deg, #0f7440 216deg, transparent 216deg 252deg, #033119 252deg, #0f7440 288deg, transparent 288deg 324deg, #033119 324deg, #0f7440 360deg);
  }
  20% {
    fill: rgba(209, 255, 255, 0.8);
    -webkit-clip-path: polygon(49.8% 75.5%, 53.7% 51.25%, 55% 48%, 54% 45%, 53% 41.5%, 48.9% 41.5%, 47% 41.5%, 46% 44.55%, 45% 48%, 46.1% 51%);
            clip-path: polygon(49.8% 75.5%, 53.7% 51.25%, 55% 48%, 54% 45%, 53% 41.5%, 48.9% 41.5%, 47% 41.5%, 46% 44.55%, 45% 48%, 46.1% 51%);
    background: radial-gradient(at 50% 45.8%, transparent 0%, #108c4c 30%, #34b573 50%), conic-gradient(from 0.5turn at 50% 45.8%, transparent 0deg 36deg, #033119 36deg, #0f7440 72deg, transparent 72deg 108deg, #033119 108deg, #0f7440 144deg, transparent 144deg 180deg, #033119 180deg, #0f7440 216deg, transparent 216deg 252deg, #033119 252deg, #0f7440 288deg, transparent 288deg 324deg, #033119 324deg, #0f7440 360deg);
  }
  30% {
    fill: rgba(209, 255, 255, 0.6);
    background: radial-gradient(at 50% 45.8%, transparent 0%, rgba(15, 116, 64, 0.4078431373) 30%, #0f7440 50%), conic-gradient(from 0.5turn at 50% 45.8%, transparent 0deg 36deg, #033119 36deg, #0f7440 72deg, transparent 72deg 108deg, #0f7440 108deg, #34b573 144deg, transparent 144deg 180deg, #033119 180deg, #0f7440 216deg, transparent 216deg 252deg, #033119 252deg, #0f7440 288deg, transparent 288deg 324deg, #033119 324deg, #0f7440 360deg);
  }
  40% {
    fill: rgba(209, 255, 255, 0.8);
    -webkit-clip-path: polygon(49.8% 75.5%, 53.7% 51.25%, 55% 48%, 54% 45%, 53% 41.5%, 49.8% 40%, 28% 12.95%, 44% 44%, 45% 48%, 46.1% 51%);
            clip-path: polygon(49.8% 75.5%, 53.7% 51.25%, 55% 48%, 54% 45%, 53% 41.5%, 49.8% 40%, 28% 12.95%, 44% 44%, 45% 48%, 46.1% 51%);
    background: radial-gradient(at 50% 45.8%, transparent 0%, #108c4c 30%, #34b573 50%), conic-gradient(from 0.5turn at 50% 45.8%, transparent 0deg 36deg, #033119 36deg, #0f7440 72deg, transparent 72deg 108deg, #033119 108deg, #0f7440 144deg, transparent 144deg 180deg, #033119 180deg, #0f7440 216deg, transparent 216deg 252deg, #033119 252deg, #0f7440 288deg, transparent 288deg 324deg, #033119 324deg, #0f7440 360deg);
  }
  50% {
    fill: rgba(209, 255, 255, 0.6);
    background: radial-gradient(at 50% 45.8%, transparent 0%, rgba(15, 116, 64, 0.4078431373) 30%, #0f7440 50%), conic-gradient(from 0.5turn at 50% 45.8%, transparent 0deg 36deg, #033119 36deg, #0f7440 72deg, transparent 72deg 108deg, #033119 108deg, #0f7440 144deg, transparent 144deg 180deg, #033119 180deg, #0f7440 216deg, transparent 216deg 252deg, #0f7440 252deg, #34b573 288deg, transparent 288deg 324deg, #033119 324deg, #0f7440 360deg);
  }
  60% {
    fill: rgba(209, 255, 255, 0.8);
    -webkit-clip-path: polygon(49.8% 75.51%, 64% 65%, 91.2% 59%, 54% 45%, 53% 41.5%, 49.8% 40%, 28% 12.95%, 44% 44%, 45% 48%, 46.1% 51%);
            clip-path: polygon(49.8% 75.51%, 64% 65%, 91.2% 59%, 54% 45%, 53% 41.5%, 49.8% 40%, 28% 12.95%, 44% 44%, 45% 48%, 46.1% 51%);
    background: radial-gradient(at 50% 45.8%, transparent 0%, #108c4c 30%, #34b573 50%), conic-gradient(from 0.5turn at 50% 45.8%, transparent 0deg 36deg, #033119 36deg, #0f7440 72deg, transparent 72deg 108deg, #033119 108deg, #0f7440 144deg, transparent 144deg 180deg, #033119 180deg, #0f7440 216deg, transparent 216deg 252deg, #033119 252deg, #0f7440 288deg, transparent 288deg 324deg, #033119 324deg, #0f7440 360deg);
  }
  70% {
    fill: rgba(209, 255, 255, 0.6);
    background: radial-gradient(at 50% 45.8%, transparent 0%, rgba(15, 116, 64, 0.4078431373) 30%, #0f7440 50%), conic-gradient(from 0.5turn at 50% 45.8%, transparent 0deg 36deg, #0f7440 36deg, #34b573 72deg, transparent 72deg 108deg, #033119 108deg, #0f7440 144deg, transparent 144deg 180deg, #033119 180deg, #0f7440 216deg, transparent 216deg 252deg, #033119 252deg, #0f7440 288deg, transparent 288deg 324deg, #033119 324deg, #0f7440 360deg);
  }
  80% {
    fill: rgba(209, 255, 255, 0.8);
    -webkit-clip-path: polygon(49.8% 75.51%, 64% 65%, 91.2% 59%, 54% 45%, 53% 41.5%, 49.8% 40%, 29.2% 16.45%, 24.69% 37.8%, 10.73% 58.3%, 35.59% 66.24%);
            clip-path: polygon(49.8% 75.51%, 64% 65%, 91.2% 59%, 54% 45%, 53% 41.5%, 49.8% 40%, 29.2% 16.45%, 24.69% 37.8%, 10.73% 58.3%, 35.59% 66.24%);
    background: radial-gradient(at 50% 45.8%, transparent 0%, #108c4c 30%, #34b573 50%), conic-gradient(from 0.5turn at 50% 45.8%, transparent 0deg 36deg, #033119 36deg, #0f7440 72deg, transparent 72deg 108deg, #033119 108deg, #0f7440 144deg, transparent 144deg 180deg, #033119 180deg, #0f7440 216deg, transparent 216deg 252deg, #033119 252deg, #0f7440 288deg, transparent 288deg 324deg, #033119 324deg, #0f7440 360deg);
  }
  90% {
    fill: rgba(209, 255, 255, 0.6);
    background: radial-gradient(at 50% 45.8%, transparent 0%, rgba(15, 116, 64, 0.4078431373) 30%, #0f7440 50%), conic-gradient(from 0.5turn at 50% 45.8%, transparent 0deg 36deg, #033119 36deg, #0f7440 72deg, transparent 72deg 108deg, #033119 108deg, #0f7440 144deg, transparent 144deg 180deg, #0f7440 180deg, #34b573 216deg, transparent 216deg 252deg, #033119 252deg, #0f7440 288deg, transparent 288deg 324deg, #033119 324deg, #0f7440 360deg);
  }
  95% {
    fill: rgba(209, 255, 255, 0.8);
    -webkit-clip-path: polygon(49.8% 75.51%, 64% 65%, 91.2% 59%, 73.8% 38%, 67.68% 20.58%, 49.8% 21.25%, 29.2% 16.45%, 24.69% 37.8%, 10.73% 58.3%, 35.59% 66.24%);
            clip-path: polygon(49.8% 75.51%, 64% 65%, 91.2% 59%, 73.8% 38%, 67.68% 20.58%, 49.8% 21.25%, 29.2% 16.45%, 24.69% 37.8%, 10.73% 58.3%, 35.59% 66.24%);
    background: radial-gradient(at 50% 45.8%, transparent 0%, #108c4c 30%, #34b573 50%), conic-gradient(from 0.5turn at 50% 45.8%, transparent 0deg 36deg, #033119 36deg, #0f7440 72deg, transparent 72deg 108deg, #033119 108deg, #0f7440 144deg, transparent 144deg 180deg, #033119 180deg, #0f7440 216deg, transparent 216deg 252deg, #033119 252deg, #0f7440 288deg, transparent 288deg 324deg, #033119 324deg, #0f7440 360deg);
  }
  100% {
    fill: rgba(209, 255, 255, 0.6);
    -webkit-clip-path: polygon(49.8% 75.51%, 64% 65%, 91.2% 59%, 73.8% 38%, 67.68% 20.58%, 49.8% 21.25%, 29.2% 16.45%, 24.69% 37.8%, 10.73% 58.3%, 35.59% 66.24%);
            clip-path: polygon(49.8% 75.51%, 64% 65%, 91.2% 59%, 73.8% 38%, 67.68% 20.58%, 49.8% 21.25%, 29.2% 16.45%, 24.69% 37.8%, 10.73% 58.3%, 35.59% 66.24%);
    background: radial-gradient(at 50% 45.8%, transparent 0%, rgba(15, 116, 64, 0.4078431373) 30%, #0f7440 50%), conic-gradient(from 0.5turn at 50% 45.8%, transparent 0deg 36deg, #033119 36deg, #0f7440 72deg, transparent 72deg 108deg, #033119 108deg, #0f7440 144deg, transparent 144deg 180deg, #033119 180deg, #0f7440 216deg, transparent 216deg 252deg, #033119 252deg, #0f7440 288deg, transparent 288deg 324deg, #033119 324deg, #0f7440 360deg);
  }
}
@-webkit-keyframes openBorder {
  0% {
    -webkit-transform: scale(0.1);
            transform: scale(0.1);
  }
  100% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
}
@keyframes openBorder {
  0% {
    -webkit-transform: scale(0.1);
            transform: scale(0.1);
  }
  100% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
}
@-webkit-keyframes descrHidd {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  70% {
    opacity: 1;
  }
  90% {
    opacity: 0;
    display: block;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
@keyframes descrHidd {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  70% {
    opacity: 1;
  }
  90% {
    opacity: 0;
    display: block;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
@-webkit-keyframes openArticle {
  0% {
    -webkit-transform: translate(-50%, -50%) translateZ(0);
            transform: translate(-50%, -50%) translateZ(0);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) translateZ(-1rem);
            transform: translate(-50%, -50%) translateZ(-1rem);
  }
}
@keyframes openArticle {
  0% {
    -webkit-transform: translate(-50%, -50%) translateZ(0);
            transform: translate(-50%, -50%) translateZ(0);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) translateZ(-1rem);
            transform: translate(-50%, -50%) translateZ(-1rem);
  }
}
@-webkit-keyframes movingZ {
  0% {
    -webkit-transform: translateZ(-10rem);
            transform: translateZ(-10rem);
    -webkit-filter: blur(2px);
            filter: blur(2px);
  }
  100% {
    -webkit-transform: translateZ(0rem);
            transform: translateZ(0rem);
    -webkit-filter: blur(0);
            filter: blur(0);
  }
}
@keyframes movingZ {
  0% {
    -webkit-transform: translateZ(-10rem);
            transform: translateZ(-10rem);
    -webkit-filter: blur(2px);
            filter: blur(2px);
  }
  100% {
    -webkit-transform: translateZ(0rem);
            transform: translateZ(0rem);
    -webkit-filter: blur(0);
            filter: blur(0);
  }
}
.margin-bottom-5vh {
  margin-bottom: 5vh;
}

.margin-bottom-20rem {
  margin-bottom: 2rem;
}

.txt__orange {
  color: #e8be45;
}

.inclusion {
  -webkit-animation: inclusion 1s ease both;
          animation: inclusion 1s ease both;
}

*, ::after, ::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  color-scheme: dark;
  font-size: 62.5%;
}

body {
  background: black;
  overflow: hidden;
  -webkit-perspective: 100rem;
          perspective: 100rem;
}
body::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  z-index: -10;
  -webkit-mask-image: radial-gradient(rgb(0, 0, 0), rgb(0, 0, 0), rgba(0, 0, 0, 0.2), transparent);
          mask-image: radial-gradient(rgb(0, 0, 0), rgb(0, 0, 0), rgba(0, 0, 0, 0.2), transparent);
  background: radial-gradient(rgba(197, 233, 247, 0.2235294118) 1px, transparent 0) -1.9rem -1.9rem/1rem 1rem;
}

a:link, a:visited {
  text-decoration: none;
}

@font-face {
  font-family: "Cutive Mono";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/cutivemono/v21/m8JWjfRfY7WVjVi2E-K9H6RCTm4.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Cutive Mono";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/cutivemono/v21/m8JWjfRfY7WVjVi2E-K9H6RMTm663A.woff2) format("woff2");
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: Square;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/square_721_bold_extended_bt.woff") format("woff");
}
.btn {
  position: relative;
  height: 3.6rem;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 1.2rem;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.btn::after, .btn::before {
  content: "";
  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  translate: -50% -50%;
  height: 100%;
  width: 100%;
  left: 50%;
  top: 50%;
}
.btn::after {
  border: 1px solid #d1ffff;
  -webkit-clip-path: polygon(0.7rem 0, 0.7rem 0.7rem, calc(100% - 0.7rem) 0.7rem, calc(100% - 0.7rem) 0, 100% 0, 100% 0.7rem, calc(100% - 0.7rem) 0.7rem, calc(100% - 0.7rem) calc(100% - 0.7rem), 100% calc(100% - 0.7rem), 100% 100%, calc(100% - 0.7rem) 100%, calc(100% - 0.7rem) calc(100% - 0.7rem), 0.7rem calc(100% - 0.7rem), 0.7rem 100%, 0 100%, 0 calc(100% - 0.7rem), 0.7rem calc(100% - 0.7rem), 0.7rem 0.7rem, 0 0.7rem, 0 0);
          clip-path: polygon(0.7rem 0, 0.7rem 0.7rem, calc(100% - 0.7rem) 0.7rem, calc(100% - 0.7rem) 0, 100% 0, 100% 0.7rem, calc(100% - 0.7rem) 0.7rem, calc(100% - 0.7rem) calc(100% - 0.7rem), 100% calc(100% - 0.7rem), 100% 100%, calc(100% - 0.7rem) 100%, calc(100% - 0.7rem) calc(100% - 0.7rem), 0.7rem calc(100% - 0.7rem), 0.7rem 100%, 0 100%, 0 calc(100% - 0.7rem), 0.7rem calc(100% - 0.7rem), 0.7rem 0.7rem, 0 0.7rem, 0 0);
  -webkit-transition: -webkit-clip-path 0.25s ease, -webkit-transform 0.25s ease;
  transition: -webkit-clip-path 0.25s ease, -webkit-transform 0.25s ease;
  transition: clip-path 0.25s ease, transform 0.25s ease;
  transition: clip-path 0.25s ease, transform 0.25s ease, -webkit-clip-path 0.25s ease, -webkit-transform 0.25s ease;
}
.btn:hover::after {
  -webkit-transform: scale(0.85, 0.68);
          transform: scale(0.85, 0.68);
  -webkit-clip-path: polygon(50% 0, 50% 50%, 50% 50%, 50% 0, 100% 0, 100% 50%, 50% 50%, 50% 50%, 100% 50%, 100% 100%, 50% 100%, 50% 50%, 50% 50%, 50% 100%, 0 100%, 0 50%, 50% 50%, 50% 50%, 0 50%, 0 0);
          clip-path: polygon(50% 0, 50% 50%, 50% 50%, 50% 0, 100% 0, 100% 50%, 50% 50%, 50% 50%, 100% 50%, 100% 100%, 50% 100%, 50% 50%, 50% 50%, 50% 100%, 0 100%, 0 50%, 50% 50%, 50% 50%, 0 50%, 0 0);
  border: 1px solid #d1ffff;
}
.btn::before {
  background: rgba(70, 151, 180, 0.5490196078);
  z-index: -1;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease, -webkit-transform 0.3s ease;
  transition: opacity 0.3s ease, -webkit-transform 0.3s ease;
  transition: opacity 0.3s ease, transform 0.3s ease;
  transition: opacity 0.3s ease, transform 0.3s ease, -webkit-transform 0.3s ease;
}
.btn:hover::before {
  opacity: 1;
  -webkit-transform: scale(0.85, 0.68);
          transform: scale(0.85, 0.68);
}
.btn:active::before {
  background: rgba(255, 169, 20, 0.6);
}
.btn:active::after {
  border: 1px solid #ffaf54;
}
.btn:active {
  color: #e8be45;
}

.article {
  position: relative;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.article_title {
  position: relative;
  height: 6.4rem;
  top: 0.5rem;
  text-align: center;
  -webkit-text-stroke: 1px #d1ffff;
}
.article_description {
  position: relative;
  height: 42.2rem;
}
.article_description p {
  position: relative;
  font-size: 1.9rem;
  padding: 2rem;
  text-align: justify;
}
.article_description p br {
  margin-bottom: 1rem;
}
.article_resume {
  position: relative;
  display: grid;
  place-items: center;
  grid-template: auto/repeat(2, auto);
  height: 6rem;
  width: 100%;
  left: 0;
  top: -0.5rem;
  -webkit-perspective: 100rem;
          perspective: 100rem;
}
.article_resume:link, .article_resume:visited {
  color: #d1ffff;
}
.article_resume > * {
  position: relative;
  display: inline-block;
  height: 6rem;
  width: 100%;
  -webkit-transition: -webkit-transform 0.2s ease, -webkit-filter 0.2s ease;
  transition: -webkit-transform 0.2s ease, -webkit-filter 0.2s ease;
  transition: transform 0.2s ease, filter 0.2s ease;
  transition: transform 0.2s ease, filter 0.2s ease, -webkit-transform 0.2s ease, -webkit-filter 0.2s ease;
  will-change: transform, filter;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
}
.article_resume > *:hover {
  -webkit-transform: translateZ(5rem);
          transform: translateZ(5rem);
  -webkit-filter: drop-shadow(0 0 4px #d1ffff);
          filter: drop-shadow(0 0 4px #d1ffff);
}
.article_resume span {
  position: absolute;
  display: inline-block;
  text-align: center;
  width: 100%;
  left: 50%;
  top: 60%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transform-origin: center;
          transform-origin: center;
}

.slider {
  position: relative;
  -webkit-perspective: 100rem;
          perspective: 100rem;
  -webkit-animation: inclusion 1s ease 0.3s both;
          animation: inclusion 1s ease 0.3s both;
}
.slider > * {
  position: absolute;
  visibility: hidden;
  will-change: transform, scale, display;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  aspect-ratio: 16/9;
  width: 83rem;
  right: 0;
  top: 50%;
  cursor: -webkit-grab;
  cursor: grab;
  -webkit-transition: scale 0.2s ease, -webkit-transform 0.2s ease;
  transition: scale 0.2s ease, -webkit-transform 0.2s ease;
  transition: scale 0.2s ease, transform 0.2s ease;
  transition: scale 0.2s ease, transform 0.2s ease, -webkit-transform 0.2s ease;
  -webkit-transform-origin: right top;
          transform-origin: right top;
  -webkit-transform: rotateY(-10deg) translateY(-50%);
          transform: rotateY(-10deg) translateY(-50%);
  -webkit-animation: scrollFrame 27s infinite ease;
          animation: scrollFrame 27s infinite ease;
}
.slider > * > * {
  -webkit-filter: drop-shadow(0 0 1rem black);
          filter: drop-shadow(0 0 1rem black);
  opacity: 0;
  -webkit-animation: opacityFrame 27s infinite ease;
          animation: opacityFrame 27s infinite ease;
}
.slider .frame_1 {
  -webkit-animation-delay: -6s;
          animation-delay: -6s;
}
.slider .frame_1 > * {
  -webkit-animation-delay: -6s;
          animation-delay: -6s;
}
.slider .frame_2 {
  -webkit-animation-delay: -3s;
          animation-delay: -3s;
}
.slider .frame_2 > * {
  -webkit-animation-delay: -3s;
          animation-delay: -3s;
}
.slider .frame_4 {
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}
.slider .frame_4 > * {
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}
.slider .frame_5 {
  -webkit-animation-delay: 6s;
          animation-delay: 6s;
}
.slider .frame_5 > * {
  -webkit-animation-delay: 6s;
          animation-delay: 6s;
}
.slider .frame_6 {
  -webkit-animation-delay: 9s;
          animation-delay: 9s;
}
.slider .frame_6 > * {
  -webkit-animation-delay: 9s;
          animation-delay: 9s;
}
.slider .frame_7 {
  -webkit-animation-delay: 12s;
          animation-delay: 12s;
}
.slider .frame_7 > * {
  -webkit-animation-delay: 12s;
          animation-delay: 12s;
}
.slider .frame_8 {
  -webkit-animation-delay: 15s;
          animation-delay: 15s;
}
.slider .frame_8 > * {
  -webkit-animation-delay: 15s;
          animation-delay: 15s;
}
.slider .frame_9 {
  -webkit-animation-delay: 18s;
          animation-delay: 18s;
}
.slider .frame_9 > * {
  -webkit-animation-delay: 18s;
          animation-delay: 18s;
}

.slider_frame:active {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
  -webkit-transform: rotateY(0deg) translateY(-50%);
          transform: rotateY(0deg) translateY(-50%);
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.slider:active .slider_frame:not(:active) {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

.slider:active .slider_frame > * {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

.border {
  z-index: -1;
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  fill: none;
  stroke: #d1ffff;
  stroke-width: 1px;
}
.border_title {
  height: 102%;
  width: 102%;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-filter: drop-shadow(0 0 4px #d1ffff);
          filter: drop-shadow(0 0 4px #d1ffff);
  fill: rgba(70, 151, 180, 0.5490196078);
}
.border_description {
  stroke-dasharray: 2;
  fill: rgba(28, 60, 72, 0.6);
}
.border_resume {
  height: 102%;
  width: 112%;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-filter: drop-shadow(0 0 4px #d1ffff);
          filter: drop-shadow(0 0 4px #d1ffff);
  fill: rgba(70, 151, 180, 0.5490196078);
}
.border_resume_L {
  -webkit-transform: translate(-46%, -50%);
          transform: translate(-46%, -50%);
}
.border_resume_R {
  -webkit-transform: translate(-54%, -50%);
          transform: translate(-54%, -50%);
}
.border_img.bg {
  fill: rgba(70, 151, 180, 0.5490196078);
  -webkit-transform: translate(-50%, -50%) translateZ(-4rem);
          transform: translate(-50%, -50%) translateZ(-4rem);
}
.border_img.bg :last-child {
  stroke: none;
  fill: rgba(28, 60, 72, 0.6);
}
.border_footer {
  fill: rgba(255, 169, 20, 0.2);
  stroke: #e8be45;
}
.border_footer :first-child {
  fill: rgba(255, 169, 20, 0.6);
}
.border_footer :last-child {
  fill: #e8be45;
}

.bg {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: -1;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: translate(-50%, -50%) translateZ(-1rem);
          transform: translate(-50%, -50%) translateZ(-1rem);
  -webkit-filter: blur(0.12rem);
          filter: blur(0.12rem);
}

.logo {
  position: relative;
  height: 3.6rem;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  cursor: pointer;
}
.logo_img {
  height: 100%;
  width: 100%;
}
.logo_img:first-child {
  font-size: 10rem;
  stroke: white;
  stroke-width: 1.5px;
  fill: #d1ffff;
  dominant-baseline: hanging;
  text-anchor: middle;
}

.navigation {
  position: sticky;
  top: 0;
  height: 9vh;
  width: 100%;
  padding: 1.5rem;
  z-index: 20;
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
  display: grid;
  grid-template: auto/repeat(3, 12rem);
  grid-column-gap: auto;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  justify-items: center;
  border-bottom: 1px solid #d1ffff;
}

.main {
  position: relative;
  height: 80vh;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: grid;
  grid-template: auto/repeat(3, auto);
  grid-column-gap: 10vw;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  padding: 5vh 5vw;
  -webkit-transition: translate 0.7s ease, -webkit-transform 0.7s ease;
  transition: translate 0.7s ease, -webkit-transform 0.7s ease;
  transition: transform 0.7s ease, translate 0.7s ease;
  transition: transform 0.7s ease, translate 0.7s ease, -webkit-transform 0.7s ease;
}
.main > * {
  -webkit-transition: -webkit-transform 0.7s ease;
  transition: -webkit-transform 0.7s ease;
  transition: transform 0.7s ease;
  transition: transform 0.7s ease, -webkit-transform 0.7s ease;
}

.container {
  position: relative;
  width: 90vw;
  -webkit-perspective: 100rem;
          perspective: 100rem;
}

.container_about {
  display: grid;
  grid-template: auto/40% 60%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-perspective: 100rem;
          perspective: 100rem;
}

.container_home {
  position: relative;
  height: 80vh;
  -webkit-transition: opacity 1s ease;
  transition: opacity 1s ease;
}
.container_home .planet {
  position: absolute;
  stroke: none;
  height: 150vh;
  width: 150vw;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.container_home .planet text {
  font-family: "Square";
  font-size: 1rem;
  text-align: center;
  text-anchor: middle;
  text-shadow: none;
}

@-webkit-keyframes shift {
  100% {
    stroke-dashoffset: -20;
  }
}

@keyframes shift {
  100% {
    stroke-dashoffset: -20;
  }
}
.container_skills {
  position: absolute;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: -webkit-transform 1s ease, -webkit-filter 0.5s ease;
  transition: -webkit-transform 1s ease, -webkit-filter 0.5s ease;
  transition: transform 1s ease, filter 0.5s ease;
  transition: transform 1s ease, filter 0.5s ease, -webkit-transform 1s ease, -webkit-filter 0.5s ease;
  z-index: 1;
}
.container_skills .parametr {
  position: absolute;
  height: 26.67rem;
  width: 28.05rem;
  top: 48.8%;
  left: 50%;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: -webkit-clip-path 0.4s ease;
  transition: -webkit-clip-path 0.4s ease;
  transition: clip-path 0.4s ease;
  transition: clip-path 0.4s ease, -webkit-clip-path 0.4s ease;
  -webkit-animation: openFigure 1s ease 0.5s backwards;
          animation: openFigure 1s ease 0.5s backwards;
  background: radial-gradient(at 50% 45.8%, transparent 0%, rgba(15, 116, 64, 0.4078431373) 30%, #0f7440 50%), conic-gradient(from 0.5turn at 50% 45.8%, transparent 0deg 36deg, #033119 36deg, #0f7440 72deg, transparent 72deg 108deg, #033119 108deg, #0f7440 144deg, transparent 144deg 180deg, #033119 180deg, #0f7440 216deg, transparent 216deg 252deg, #033119 252deg, #0f7440 288deg, transparent 288deg 324deg, #033119 324deg, #0f7440 360deg);
}
.container_skills_status {
  display: block;
  position: relative;
  shape-rendering: geometricprecision;
}
.container_skills_status :first-child {
  vector-effect: non-scaling-stroke;
  stroke: #d1ffff;
  stroke-width: 1px;
  fill: none;
  opacity: 0.3;
  -webkit-transform-origin: 50% 47%;
          transform-origin: 50% 47%;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-animation: openBorder 0.5s ease 0.5s backwards;
          animation: openBorder 0.5s ease 0.5s backwards;
}
.container_skills_status > *:nth-child(n+2):nth-child(-n+10) {
  position: relative;
  vector-effect: non-scaling-stroke;
  border: 1px solid #d1ffff;
  visibility: hidden;
  fill: #d1ffff;
  cursor: pointer;
  -webkit-animation: inclusion 1s ease 0.3s both;
          animation: inclusion 1s ease 0.3s both;
}
.container_skills_status :nth-child(2) {
  -webkit-animation-delay: 0.4s !important;
          animation-delay: 0.4s !important;
}
.container_skills_status :nth-child(3) {
  -webkit-animation-delay: 0.6s !important;
          animation-delay: 0.6s !important;
}
.container_skills_status :nth-child(5) {
  -webkit-animation-delay: 0.5s !important;
          animation-delay: 0.5s !important;
}
.container_skills_status :nth-child(6) {
  -webkit-animation-delay: 0.8s !important;
          animation-delay: 0.8s !important;
}

.container_software {
  display: block;
  position: absolute;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  left: 50%;
  top: 50%;
  -webkit-transition: -webkit-transform 1s ease, -webkit-filter 0.5s ease;
  transition: -webkit-transform 1s ease, -webkit-filter 0.5s ease;
  transition: transform 1s ease, filter 0.5s ease;
  transition: transform 1s ease, filter 0.5s ease, -webkit-transform 1s ease, -webkit-filter 0.5s ease;
}
.container_software > .software {
  position: absolute;
  stroke: none;
  fill: #64ffff;
  cursor: pointer;
  opacity: 0.6;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: opacity 0.5s ease, -webkit-transform 0.2s ease;
  transition: opacity 0.5s ease, -webkit-transform 0.2s ease;
  transition: transform 0.2s ease, opacity 0.5s ease;
  transition: transform 0.2s ease, opacity 0.5s ease, -webkit-transform 0.2s ease;
}
.container_software_circle {
  position: relative;
  vector-effect: non-scaling-stroke;
  stroke: #64ffff;
  stroke-width: 1px;
  fill: none;
}
.container_software_circle :first-child {
  fill: #64ffff;
  -webkit-filter: blur(2rem);
          filter: blur(2rem);
  stroke: none;
  opacity: 0.2;
}
.container_software_circle > *:not(:first-child) {
  stroke-width: 2px;
  -webkit-filter: blur(1px);
          filter: blur(1px);
  fill: none;
  opacity: 0.6;
  -webkit-transition: opacity 0.3s ease, -webkit-filter 0.3s ease;
  transition: opacity 0.3s ease, -webkit-filter 0.3s ease;
  transition: filter 0.3s ease, opacity 0.3s ease;
  transition: filter 0.3s ease, opacity 0.3s ease, -webkit-filter 0.3s ease;
}
.container_software .software_main {
  position: absolute;
  fill: #64ffff;
  stroke: none;
  opacity: 0.6;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: opacity 0.5s ease, -webkit-transform 0.5s ease;
  transition: opacity 0.5s ease, -webkit-transform 0.5s ease;
  transition: transform 0.5s ease, opacity 0.5s ease;
  transition: transform 0.5s ease, opacity 0.5s ease, -webkit-transform 0.5s ease;
}
.container_software .description {
  position: absolute;
  left: 50%;
  top: 42%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  text-align: center;
}

.arrow {
  position: absolute;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: opacity 0.3s ease, -webkit-filter 0.3s ease;
  transition: opacity 0.3s ease, -webkit-filter 0.3s ease;
  transition: filter 0.3s ease, opacity 0.3s ease;
  transition: filter 0.3s ease, opacity 0.3s ease, -webkit-filter 0.3s ease;
}
.arrow > svg {
  stroke: #64ffff;
  stroke-width: 0.2px;
  fill: none;
}

.left {
  left: 20%;
}

.right {
  left: 75.4%;
}

.footer {
  position: sticky;
  width: 100vw;
  height: 16rem;
  bottom: 0;
  z-index: 20;
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-clip-path: polygon(60% -10%, 100% -10%, 100% 100%, 60% 100%);
          clip-path: polygon(60% -10%, 100% -10%, 100% 100%, 60% 100%);
}
.footer_bar {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 36.8rem;
}
.footer_bar .contact_target {
  position: absolute;
  z-index: 1;
  cursor: pointer;
  right: 0;
  top: 1rem;
  padding: 0 1rem;
  display: inline-block;
  color: #e8be45;
  margin-bottom: 1rem;
}
.footer_bar .contacts {
  display: none;
  position: absolute;
  height: 87%;
  width: 100%;
  bottom: 0;
  padding-top: 1rem;
  place-items: center;
  grid-template: auto/repeat(3, auto);
  -webkit-perspective: 70rem;
          perspective: 70rem;
}
.footer_bar .contacts .icon {
  position: relative;
  height: 100%;
  width: 100%;
  -webkit-transition: -webkit-transform 0.3s ease, -webkit-filter 0.3s ease;
  transition: -webkit-transform 0.3s ease, -webkit-filter 0.3s ease;
  transition: transform 0.3s ease, filter 0.3s ease;
  transition: transform 0.3s ease, filter 0.3s ease, -webkit-transform 0.3s ease, -webkit-filter 0.3s ease;
  -webkit-animation: inclusion 0.8s ease backwards, movingZ 0.5s ease 0.8s backwards;
          animation: inclusion 0.8s ease backwards, movingZ 0.5s ease 0.8s backwards;
}
.footer_bar .contacts .icon > * {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transform-origin: center;
          transform-origin: center;
}
.footer_bar .contacts .icon a {
  cursor: pointer;
  font-size: 1.8rem;
  text-align: center;
}
.footer_bar .contacts .icon a:link, .footer_bar .contacts .icon a:visited {
  color: #e8be45;
}
.footer_bar .contacts .icon a .icon_figure {
  fill: #e8be45;
}
.footer_bar .contacts .icon_link {
  display: inline-block;
  height: 55%;
  width: 55%;
}
.footer_bar .contacts .icon_link_bg {
  height: 70%;
  width: 70%;
  fill: rgba(255, 169, 20, 0.2);
  stroke: #e8be45;
}
.footer_bar .contacts .icon_link span {
  position: absolute;
  left: 0;
  top: -3px;
}