.container_skills
    // display: none
    position: absolute
    height: max-content
    width: max-content
    left: 50%
    top: 50%
    transform: translate(-50%, -50%)
    transition: transform 1s ease, filter .5s ease
    z-index: 1
    .parametr
        position: absolute
        height: 26.67rem
        width: 28.05rem
        top: 48.8%
        left: 50%
        transform-origin: center
        transform: translate(-50%, -50%)
        transition: clip-path .4s ease
        animation: openFigure 1s ease .5s backwards
        background: radial-gradient(at 50% 45.8%, transparent 0%, #0f744068 30%, #0f7440 50%), conic-gradient(from .5turn at 50% 45.8%, transparent 0deg 36deg, #033119 36deg, #0f7440 72deg, transparent 72deg 108deg, #033119 108deg, #0f7440 144deg, transparent 144deg 180deg, #033119 180deg, #0f7440 216deg, transparent 216deg 252deg, #033119 252deg, #0f7440 288deg, transparent 288deg 324deg, #033119 324deg, #0f7440 360deg)
    &_status
        display: block
        position: relative
        shape-rendering: geometricprecision
        & :first-child
            vector-effect: non-scaling-stroke
            stroke: $color-blue
            stroke-width: 1px
            fill: none
            opacity: 0.3
            transform-origin: 50% 47%
            transform: scale(0.9)
            animation: openBorder .5s ease .5s backwards
        & > *:nth-child(n+2):nth-child(-n+10)
            position: relative
            vector-effect: non-scaling-stroke
            border: $border-light-blue
            visibility: hidden
            fill: $color-blue
            cursor: pointer
            animation: inclusion 1s ease .3s both
        & :nth-child(2)
            animation-delay: .4s !important
        & :nth-child(3)
            animation-delay: .6s !important
        & :nth-child(5)
            animation-delay: .5s !important
        & :nth-child(6)
            animation-delay: .8s !important

.container_software
    display: block
    position: absolute
    height: max-content
    width: max-content
    left: 50%
    top: 50%
    transition: transform 1s ease, filter .5s ease
    // perspective: 100rem
    & > .software
        position: absolute
        stroke: none
        fill: $color-juice-blue
        cursor: pointer
        opacity: 0.6
        left: 50%
        top: 50%
        transform: translate(-50%,-50%)
        transform-origin: center
        transition: transform .2s ease, opacity .5s ease
    &_circle
        position: relative
        vector-effect: non-scaling-stroke
        stroke: $color-juice-blue
        stroke-width: 1px
        fill: none
        & :first-child
            fill: $color-juice-blue
            filter: blur(2rem)
            stroke: none
            opacity: 0.2
        & > *:not(:first-child)
            stroke-width: 2px
            filter: blur(1px)
            fill: none
            opacity: 0.6
            transition: filter .3s ease, opacity .3s ease
    .software_main
        position: absolute
        fill: $color-juice-blue
        stroke: none
        opacity: 0.6
        left: 50%
        top: 50%
        transform: translate(-50%,-50%)
        transition: transform .5s ease, opacity .5s ease
    .description
        position: absolute
        left: 50%
        top: 42%
        transform: translate(-50%, 0%)
        text-align: center

.arrow
    position: absolute
    height: max-content
    width: max-content
    left: 50%
    top: 50%
    transform: translate(-50%, -50%)
    transition: filter .3s ease, opacity .3s ease
    & > svg
        stroke: $color-juice-blue
        stroke-width: .2px
        fill: none
.left
    left: 20%
.right
    left: 75.4%