.main
    position: relative
    // position: absolute
    width: 90vw
    display: grid
    grid-template: repeat(3, auto) / auto
    row-gap: 15vh
    box-sizing: content-box
    padding: 5vh 5vw
    transition: transform .7s ease ,translate .7s ease
    & > *
        transition: transform .7s ease

.container
    position: relative
    height: 80vh
    perspective: 100rem
    scroll-margin-top: 15vh