.navigation
    position: sticky
    top: 0
    height: 9vh
    width: 100%
    padding: 1.5rem
    z-index: 20
    backdrop-filter: blur(6px)
    display: grid
    grid-template: auto / repeat(3, 12rem)
    grid-column-gap: auto
    justify-content: space-around
    justify-items: center
    border-bottom: $border-light-blue
    a:link, a:visited
            color: $color-blue
    .logo
        position: relative
        height: 3.6rem
        width: max-content
        cursor: pointer