*, ::after, ::before
    color: var(--color-white)
    letter-spacing: .06em

h1,
h2,
ul,
.font__lat-ASL
    font-family: "Averia Serif Libre", serif
    font-weight: lighter
    font-style: normal

h1
    font-size: 7.2rem
    line-height: .8em

h2
    font-size: 3.2rem

h3,
p,
a,
.radio__item
    font-family: "Averia Libre", system-ui
    font-size: 1.7rem
    font-weight: lighter
    font-style: normal

a:link, a:visited
    text-decoration: none
    color: var(--color-white)

.font__kanji-NT
    font-family: "New Tegomin", serif
    font-size: 3.4rem
    font-weight: normal
    font-style: normal

.txt_uppercase
    text-transform: uppercase

.subtitle *
    color: var(--color-gray)

// Cover
.cover__title
    padding-left: 1.6rem
    letter-spacing: .2em

.cover__subtitle
    font-size: 1.8rem

// Description
.description__title
    &::after
        font-family: "Averia Libre", system-ui
        letter-spacing: normal
        font-size: 2rem

.description__paragraph
    line-height: 1.2em
    text-indent: 2rem

.visit-card
    text
        font-weight: bold

// Scrollbar
.scrollbar__list
    font-size: 1.4rem