*, ::after, ::before
    color: var(--color-white)
    letter-spacing: .06em
    font-family: "Averia Serif Libre", serif
    font-weight: lighter
    font-style: normal

h1
    font-size: 7.2rem
    line-height: .8em

h2
    font-size: 4.4rem

h3,
p,
a,
.radio__item
    font-size: 1.7rem

a:link, a:visited
    text-decoration: none
    color: var(--color-white)

.font__kanji-NT
    font-family: "New Tegomin", serif
    font-size: 3.4rem
    font-weight: normal
    font-style: normal

.nav
    *
        color: #d5d2d3 !important
    p
        font-family: "Cormorant Garamond", serif
        font-weight: 600
        font-size: 2rem
        // &:last-of-type
        //     font-size: 1.6rem
    a
        font-size: 1.6rem
        letter-spacing: .1em


// Cover
.cover__title
    *
        font-family: "Cormorant Garamond", serif
        font-weight: 600
    h1
        font-size: 20rem
        margin-right: -.08em
    // h2
    //     letter-spacing: .3em
    //     margin-right: -.3em
    //     font-size: 2rem

.cover__subtitle
    h2
        font-family: "Averia Serif Libre", serif
        font-size: 2.4rem

// Description
.description__title
    &::after
        font-family: "Averia Libre", system-ui
        letter-spacing: normal
        font-size: 1.6rem

.description__paragraph
    line-height: 1.2em

// Grid hexagon
.grid-hexagon__item-name
    // font-size: 1.6rem

// Visit card
.visit-card
    text
        font-weight: bold
    // &__link
    //     &:link, &:visited
    //         color: #8d8d8d !important
    //         // color: #d5d2d3

// List details
.list-details
    &__summary
        font-size: 2.4rem
    // &__content


// Scrollbar
.scrollbar__list
    font-size: 1.2rem