.slider
    position: relative
    perspective: 100rem
    animation: inclusion 1s ease .3s both
    & > *
        position: absolute
        visibility: hidden
        will-change: transform, scale, display
        transform-style: preserve-3d
        aspect-ratio: 16 / 9
        width: 83rem
        right: 0
        top: 50%
        cursor: grab
        transition: scale .2s ease, transform .2s ease
        transform-origin: right top
        transform: rotateY(-10deg) translateY(-50%)
        animation: scrollFrame 27s infinite ease
        & > *
            filter: drop-shadow(0 0 1rem black)
            opacity: 0
            animation: opacityFrame 27s infinite ease
    .frame_1
        animation-delay: -6s
        & > *
            animation-delay: -6s
    .frame_2
        animation-delay: -3s
        & > *
            animation-delay: -3s
    .frame_3
    .frame_4
        animation-delay: 3s
        & > *
            animation-delay: 3s
    .frame_5
        animation-delay: 6s
        & > *
            animation-delay: 6s
    .frame_6
        animation-delay: 9s
        & > *
            animation-delay: 9s
    .frame_7
        animation-delay: 12s
        & > *
            animation-delay: 12s
    .frame_8
        animation-delay: 15s
        & > *
            animation-delay: 15s
    .frame_9
        animation-delay: 18s
        & > *
            animation-delay: 18s

.slider_frame:active
    animation-play-state: paused
    transform: rotateY(0deg) translateY(-50%)
    cursor: grabbing

.slider:active .slider_frame:not(:active)
    animation-play-state: paused

.slider:active .slider_frame > *
    animation-play-state: paused