//Анимация перемещения изображений
@keyframes scrollFrame
    0%
        z-index: -1
        scale: 0%
    2.75%
        z-index: 0
        scale: 20%
        visibility: visible
    11%
        z-index: 0
        scale: 20%
    13.75%
        z-index: 1
        scale: 55%
    22%
        z-index: 1
        scale: 55%
    24.75%
        z-index: 4
        scale: 95%
    33%
        z-index: 4
        scale: 95%
    35.75%
        z-index: 5
        scale: 100%
        visibility: visible
    35.76%
        z-index: 0
        visibility: hidden

@keyframes opacityFrame
    0%
        opacity: 1
    33%
        opacity: 1
    34%
        opacity: 0

@keyframes inclusion
    0%
        visibility: hidden
        opacity: 0
    49%
        opacity: 0
    50%
        visibility: visible
        opacity: 1
    60%
        opacity: 0
    75%
        opacity: 1
    80%
        opacity: 0
    100%
        visibility: visible
        opacity: 1

@keyframes visiible
    0%
        transform: translateZ(-4rem)
        filter: blur(2px)
    100%
        transform: translateZ(0)
        filter: blur(0)

@keyframes openFigure
    0%
        fill: $color-blue-opacity8
        clip-path: polygon(49.8% 52%, 52.95% 49%, 55% 48%, 54% 45%, 53% 41.5%, 48.9% 41.5%, 47% 41.5%, 46% 44.55%, 45% 48%, 47% 49.8%)
        background: radial-gradient(at 50% 45.8%, transparent 0%, #0f744068 30%, #0f7440 50%), conic-gradient(from .5turn at 50% 45.8%, transparent 0deg 36deg, #033119 36deg , #0f7440 72deg, transparent 72deg 108deg, #033119 108deg, #0f7440 144deg, transparent 144deg 180deg, #033119 180deg, #0f7440 216deg, transparent 216deg 252deg, #033119 252deg, #0f7440 288deg, transparent 288deg 324deg, #033119 324deg, #0f7440 360deg)
    10%
        fill: $color-blue-opacity6
        background: radial-gradient(at 50% 45.8%, transparent 0%, #0f744068 30%, #0f7440 50%), conic-gradient(from .5turn at 50% 45.8%, transparent 0deg 36deg, #033119 36deg , #0f7440 72deg, transparent 72deg 108deg, #033119 108deg, #0f7440 144deg, transparent 144deg 180deg, #033119 180deg, #0f7440 216deg, transparent 216deg 252deg, #033119 252deg, #0f7440 288deg, transparent 288deg 324deg, #033119 324deg, #0f7440 360deg)
    20%
        fill: $color-blue-opacity8
        clip-path: polygon(49.8% 75.5%, 53.7% 51.25%, 55% 48%, 54% 45%, 53% 41.5%, 48.9% 41.5%, 47% 41.5%, 46% 44.55%, 45% 48%, 46.1% 51%)
        background: radial-gradient(at 50% 45.8%, transparent 0%, #108c4c 30%, #34b573 50%), conic-gradient(from .5turn at 50% 45.8%, transparent 0deg 36deg, #033119 36deg , #0f7440 72deg, transparent 72deg 108deg, #033119 108deg, #0f7440 144deg, transparent 144deg 180deg, #033119 180deg, #0f7440 216deg, transparent 216deg 252deg, #033119 252deg, #0f7440 288deg, transparent 288deg 324deg, #033119 324deg, #0f7440 360deg)
    30%
        fill: $color-blue-opacity6
        background: radial-gradient(at 50% 45.8%, transparent 0%, #0f744068 30%, #0f7440 50%), conic-gradient(from .5turn at 50% 45.8%, transparent 0deg 36deg, #033119 36deg , #0f7440 72deg, transparent 72deg 108deg, #0f7440 108deg, #34b573 144deg, transparent 144deg 180deg, #033119 180deg, #0f7440 216deg, transparent 216deg 252deg, #033119 252deg, #0f7440 288deg, transparent 288deg 324deg, #033119 324deg, #0f7440 360deg)
    40%
        fill: $color-blue-opacity8
        clip-path: polygon(49.8% 75.5%, 53.7% 51.25%, 55% 48%, 54% 45%, 53% 41.5%, 49.8% 40%, 28% 12.95%, 44% 44%, 45% 48%, 46.1% 51%)
        background: radial-gradient(at 50% 45.8%, transparent 0%, #108c4c 30%, #34b573 50%), conic-gradient(from .5turn at 50% 45.8%, transparent 0deg 36deg, #033119 36deg , #0f7440 72deg, transparent 72deg 108deg, #033119 108deg, #0f7440 144deg, transparent 144deg 180deg, #033119 180deg, #0f7440 216deg, transparent 216deg 252deg, #033119 252deg, #0f7440 288deg, transparent 288deg 324deg, #033119 324deg, #0f7440 360deg)
    50%
        fill: $color-blue-opacity6
        background: radial-gradient(at 50% 45.8%, transparent 0%, #0f744068 30%, #0f7440 50%), conic-gradient(from .5turn at 50% 45.8%, transparent 0deg 36deg, #033119 36deg , #0f7440 72deg, transparent 72deg 108deg, #033119 108deg, #0f7440 144deg, transparent 144deg 180deg, #033119 180deg, #0f7440 216deg, transparent 216deg 252deg, #0f7440 252deg, #34b573 288deg, transparent 288deg 324deg, #033119 324deg, #0f7440 360deg)
    60%
        fill: $color-blue-opacity8
        clip-path: polygon(49.8% 75.51%, 64% 65%, 91.2% 59%, 54% 45%, 53% 41.5%, 49.8% 40%, 28% 12.95%, 44% 44%, 45% 48%, 46.1% 51%)
        background: radial-gradient(at 50% 45.8%, transparent 0%, #108c4c 30%, #34b573 50%), conic-gradient(from .5turn at 50% 45.8%, transparent 0deg 36deg, #033119 36deg , #0f7440 72deg, transparent 72deg 108deg, #033119 108deg, #0f7440 144deg, transparent 144deg 180deg, #033119 180deg, #0f7440 216deg, transparent 216deg 252deg, #033119 252deg, #0f7440 288deg, transparent 288deg 324deg, #033119 324deg, #0f7440 360deg)
    70%
        fill: $color-blue-opacity6
        background: radial-gradient(at 50% 45.8%, transparent 0%, #0f744068 30%, #0f7440 50%), conic-gradient(from .5turn at 50% 45.8%, transparent 0deg 36deg, #0f7440 36deg , #34b573 72deg, transparent 72deg 108deg, #033119 108deg, #0f7440 144deg, transparent 144deg 180deg, #033119 180deg, #0f7440 216deg, transparent 216deg 252deg, #033119 252deg, #0f7440 288deg, transparent 288deg 324deg, #033119 324deg, #0f7440 360deg)
    80%
        fill: $color-blue-opacity8
        clip-path: polygon(49.8% 75.51%, 64% 65%, 91.2% 59%, 54% 45%, 53% 41.5%, 49.8% 40%, 29.2% 16.45%, 24.69% 37.8%, 10.73% 58.3%, 35.59% 66.24%)
        background: radial-gradient(at 50% 45.8%, transparent 0%, #108c4c 30%, #34b573 50%), conic-gradient(from .5turn at 50% 45.8%, transparent 0deg 36deg, #033119 36deg , #0f7440 72deg, transparent 72deg 108deg, #033119 108deg, #0f7440 144deg, transparent 144deg 180deg, #033119 180deg, #0f7440 216deg, transparent 216deg 252deg, #033119 252deg, #0f7440 288deg, transparent 288deg 324deg, #033119 324deg, #0f7440 360deg)
    90%
        fill: $color-blue-opacity6
        background: radial-gradient(at 50% 45.8%, transparent 0%, #0f744068 30%, #0f7440 50%), conic-gradient(from .5turn at 50% 45.8%, transparent 0deg 36deg, #033119 36deg , #0f7440 72deg, transparent 72deg 108deg, #033119 108deg, #0f7440 144deg, transparent 144deg 180deg, #0f7440 180deg, #34b573 216deg, transparent 216deg 252deg, #033119 252deg, #0f7440 288deg, transparent 288deg 324deg, #033119 324deg, #0f7440 360deg)
    95%
        fill: $color-blue-opacity8
        clip-path: polygon(49.8% 75.51%, 64% 65%, 91.2% 59%, 73.8% 38%, 67.68% 20.58%, 49.8% 21.25%, 29.2% 16.45%, 24.69% 37.8%, 10.73% 58.3%, 35.59% 66.24%)
        background: radial-gradient(at 50% 45.8%, transparent 0%, #108c4c 30%, #34b573 50%), conic-gradient(from .5turn at 50% 45.8%, transparent 0deg 36deg, #033119 36deg , #0f7440 72deg, transparent 72deg 108deg, #033119 108deg, #0f7440 144deg, transparent 144deg 180deg, #033119 180deg, #0f7440 216deg, transparent 216deg 252deg, #033119 252deg, #0f7440 288deg, transparent 288deg 324deg, #033119 324deg, #0f7440 360deg)
    100%
        fill: $color-blue-opacity6
        clip-path: polygon(49.8% 75.51%, 64% 65%, 91.2% 59%, 73.8% 38%, 67.68% 20.58%, 49.8% 21.25%, 29.2% 16.45%, 24.69% 37.8%, 10.73% 58.3%, 35.59% 66.24%)
        background: radial-gradient(at 50% 45.8%, transparent 0%, #0f744068 30%, #0f7440 50%), conic-gradient(from .5turn at 50% 45.8%, transparent 0deg 36deg, #033119 36deg , #0f7440 72deg, transparent 72deg 108deg, #033119 108deg, #0f7440 144deg, transparent 144deg 180deg, #033119 180deg, #0f7440 216deg, transparent 216deg 252deg, #033119 252deg, #0f7440 288deg, transparent 288deg 324deg, #033119 324deg, #0f7440 360deg)

@keyframes openBorder
    0%
        transform: scale(0.1)
    100%
        transform: scale(0.9)

@keyframes descrHidd
    0%
        opacity: 1
    20%
        opacity: 0
    40%
        opacity: 1
    60%
        opacity: 0
    70%
        opacity: 1
    90%
        opacity: 0
        display: block
    100%
        opacity: 0
        display: none

@keyframes openArticle
    0%
        transform: translate(-50%, -50%) translateZ(0)
    100%
        transform: translate(-50%, -50%) translateZ(-1rem)

@keyframes movingZ
    0%
        transform: translateZ(-10rem)
        filter: blur(2px)
    100%
        transform: translateZ(0rem)
        filter: blur(0)