*, ::after, ::before
    margin: 0
    padding: 0
    box-sizing: border-box

html
    color-scheme: dark
    font-size: 62.5%
    scroll-behavior: smooth
    // height: calc( max-content - 60% )
    // height: max-content

body
    background: black
    // overflow-x: hidden
    overflow: hidden
    perspective: 100rem
    &::after
        content: ''
        position: absolute
        height: 100%
        width: 100%
        left: 0
        top: 0
        z-index: -10
        mask-image: radial-gradient(rgb(0 0 0), rgb(0 0 0), rgb(0 0 0 / .2), transparent)
        background: radial-gradient(#c5e9f739 1px, transparent 0) -1.9rem -1.9rem / 1rem 1rem

a:link, a:visited
    text-decoration: none