.carousel
    position: relative
    grid-area: 5 / 1 / 6 / 6
    height: 100%
    width: 100vw

#gl
    height: 100%
    width: 100%
    // overflow: hidden
    // cursor: grab
    // -webkit-user-select: none
    // -moz-user-select: none
    // user-select: none
    // canvas
    //     position: absolute
    //     display: block
    // #c
    //     border-radius: 50%
    //     left: 50%
    //     top: 50%
        // height: 100%
        // width: 100%
    // ul
    //     transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -603.744, 0, 0, 1)
    //     list-style-type: none
    // .hero__carousel-items
    //     display: flex
    //     gap: 1.0416666667vw
    //     height: 100%
    //     width: -moz-fit-content
    //     width: fit-content
    // .hero__carousel-item
    //     aspect-ratio: 9 / 12
    //     cursor: pointer
    //     height: 100%
    //     transition: transform .3s
    //     width: auto
    //     &:nth-of-type(1n)
    //         background: white
    //     &:nth-of-type(2n)
    //         background: #d59696
    // .hero__carousel-link
    //     color: inherit
    //     display: block
    //     height: 100%
    //     width: 100%
    //     font: inherit
    //     text-decoration: none
    // .hero__carousel-img
    //     height: 100%
    //     -o-object-fit: cover
    //     object-fit: cover
    //     -o-object-position: top
    //     object-position: top
    //     -webkit-user-select: none
    //     -moz-user-select: none
    //     user-select: none
    //     width: 100%