.description
    position: relative
    display: flex
    flex-direction: column
    row-gap: .4rem
    filter: url(#inkBleed)

.description__title
    &::after
        content: attr(data-title)
        vertical-align: text-top

.description__paragraph
    display: flex
    flex-direction: column
    row-gap: 1.6rem
    text-align: justify
    span
        display: block