.description
    position: relative
    display: flex
    flex-direction: column
    row-gap: .4rem
    height: max-content
    // filter: url(#filter__inkBleed) drop-shadow(0 0 4px black) drop-shadow(0 0 4px black) drop-shadow(0 0 4px black)

.description__title
    &::after
        content: attr(data-title)
        vertical-align: text-top

.description__paragraph
    display: flex
    flex-direction: column
    row-gap: 1.6rem
    text-align: justify
    span
        display: block