.grid_hexagon
    place-self: center
    display: flex
    // flex-direction: column
    justify-content: center
    align-items: center
    box-sizing: content-box
    column-gap: 2rem
    // row-gap: 2rem
    height: max-content
    width: max-content
    &__column
        display: flex
        flex-direction: column
        // flex-direction: row
        // column-gap: 2rem
        row-gap: 2rem
    &__item
        width: 8rem
        height: 8rem
        padding: 1.4rem
        border-radius: 50%
        box-shadow: rgba(46, 45, 45, 0.7) -2px -2px 4px, rgba(0, 0, 0, 0.8) 4px 4px 4px, rgba(255, 255, 255, 0.2) 0px 0px 0px inset, rgba(0, 0, 0, 0.4) 0px 0px 0px inset
        img
            width: 100%
            height: 100%
            filter: saturate(.7)