.grid-hexagon
    position: relative
    height: 100%
    // @media (orientation: landscape)
    //     height: 100%
    // @media (orientation: portrait)
    //     width: 100%
    aspect-ratio: 1 / 1
    overflow: hidden
    // scrollbar-width: none
    // border: .5px solid white
    // border-radius: 100rem
    // &::before
    //     content: ''
    //     // display: block
    //     position: absolute
    //     left: 50%
    //     top: 50%
    //     // height: 1rem
    //     width: 12%
    //     aspect-ratio: 1/1
    //     translate: -50% -50%
    //     border-radius: 100rem
    //     border: 2px solid rgba(255, 255, 255, 0.2)
    //     box-shadow: rgba(255, 255, 255, .1) 0px 0px 8px inset, rgba(255, 255, 255, .1) 0px 0px 32px inset, rgba(0, 0, 0, 1) 0px 0px 6px
    &__wrapper
        position: relative
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        row-gap: 2%
        box-sizing: content-box
        height: 53%
        width: 53%
        aspect-ratio: 1 / 1
        // border-radius: 100rem
        // border: .5px solid white
        user-select: none
        cursor: grab
        &:active
            cursor: grabbing
    &__column
        flex: 1 1 auto
        height: 100%
        width: 100%
        display: flex
        justify-content: center
        column-gap: 4%
    &__item
        display: flex
        justify-content: center
        align-items: center
        position: relative
        flex: 0 1 auto
        // height: 8rem
        // width: 8rem
        aspect-ratio: 1 / 1
        // padding: 1.4rem
        border-radius: 100rem
        border: 2px solid rgba(255, 255, 255, 0.2)
        transition: all .15s ease, scale .25s ease
        &::before
            // display: none
            content: attr(data-name)
            position: absolute
            padding: .5rem 1rem
            left: 50%
            top: 0
            opacity: 0
            filter: blur(8px)
            translate: -50% -76%
            border-radius: 100rem
            box-shadow: rgba(255, 255, 255, .1) 0px 0px 8px inset, rgba(255, 255, 255, .1) 0px 0px 32px inset, rgba(0, 0, 0, 1) 0px 0px 6px
            text-shadow: 0 0 4px black
            background: linear-gradient(transparent, var(--grad-color))
            backdrop-filter: blur(2px)
            transition: all .25s ease-out
        img
            position: absolute
            height: 55%
            filter: grayscale(100%) brightness(1000%) drop-shadow(0 0 0px #000000b4)
            pointer-events: none
            transition: all .15s ease
        &-bg
            position: absolute
            height: 100%
            width: 100%
            border-radius: 100rem
            overflow: hidden
            opacity: 0
            transition: all .15s ease
            z-index: -1
            &::before
                content: ''
                position: absolute
                height: 100%
                width: 100%
                inset: 0
                background-image: var(--src-img)
                background-size: 100% 100%
                filter: blur(40px) saturate(50%) url(#filter__noise)
                transition: all .15s ease




.hover
    &::before
        opacity: 1
        filter: blur(0px)
        translate: -50% calc( -100% - 1rem)
    img
        filter: grayscale(0%) brightness(100%) drop-shadow(0 0 20px #000000b4)
    div
        opacity: .7






























// .grid-hexagon
//     place-self: center
//     display: flex
//     flex-direction: column
//     justify-content: center
//     align-items: center
//     box-sizing: content-box
//     row-gap: 1rem
//     height: max-content
//     width: 100%
//     &__column
//         display: flex
//         width: 100%
//         justify-content: center
//         column-gap: 1rem
//         &::after,
//         &::before
//             content: ''
//             position: relative
//             width: 14rem
//             height: 8rem
//             padding: 1.4rem
//             border-radius: 1.2rem
//             border: 1px dashed gray
//             mask: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1))
//         &::before
//             mask: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1))
//     &__item
//         display: flex
//         flex-direction: column
//         justify-content: center
//         align-items: center
//         position: relative
//         width: 14rem
//         height: 8rem
//         padding: 1.4rem
//         border-radius: 1.2rem
//         border: 1px dashed gray
//         transition: all .15s ease
//         &::before
//             content: attr(data-name)
//             position: absolute
//             padding: .5rem 1rem
//             top: 0
//             opacity: 0
//             filter: blur(8px)
//             translate: 0 -76%
//             border-radius: 1rem
//             box-shadow: rgba(255, 255, 255, .1) 0px 0px 8px inset, rgba(255, 255, 255, .1) 0px 0px 32px inset, rgba(0, 0, 0, 1) 0px 0px 6px
//             text-shadow: 0 0 4px black
//             background: linear-gradient(transparent, var(--grad-color))
//             backdrop-filter: blur(2px)
//             transition: all .25s ease-out
//         &:hover::before
//             opacity: 1
//             filter: blur(0px)
//             translate: 0 calc( -100% - 1rem)
//         &:hover img
//             filter: grayscale(0%) brightness(100%) drop-shadow(0 0 20px #000000b4)
//         &:hover &-bg
//             opacity: .7
//         img
//             height: 100%
//             flex-basis: 85%
//             filter: grayscale(100%) brightness(1000%) drop-shadow(0 0 0px #000000b4)
//             transition: all .15s ease
//         &-bg
//             position: absolute
//             height: 100%
//             width: 100%
//             border-radius: 1.2rem
//             overflow: hidden
//             opacity: 0
//             transition: all .15s ease
//             z-index: -1
//             &::before
//                 content: ''
//                 position: absolute
//                 height: 100%
//                 width: 100%
//                 inset: 0
//                 background-image: var(--src-img)
//                 background-size: 100% 100%
//                 filter: blur(40px) saturate(50%) url(#filter__noise)
//                 transition: all .15s ease