.list-details
    display: flex
    justify-content: center
    column-gap: .5rem
    details
        flex-grow: 1
        // flex-basxis: max-content
        // flex-shrink: 0
        position: relative
        display: flex
        flex-direction: row-reverse
        justify-content: space-between
        align-items: flex-start
        padding: 2rem
        border-radius: 1rem
        overflow: hidden
        writing-mode: sideways-lr
        &::before
            content: ''
            position: absolute
            height: 100%
            width: 100%
            left: 0
            top: 0
            z-index: -1
            opacity: .6
            filter: blur(2px)
            background-size: cover
            background-position: left
            box-shadow: inset 0 0 3rem black
            transition: all 1s ease
        &:nth-of-type(1)::before
            background-image: url('../img/Problem-solving.webp')
        &:nth-of-type(2)::before
            background-image: url('../img/Research.webp')
        &:nth-of-type(3)::before
            background-image: url('../img/Fast-learner.webp')
        &:nth-of-type(4)::before
            background-image: url('../img/Team-work.webp')
        &:nth-of-type(5)::before
            background-image: url('../img/Communication.webp')
        @media (prefers-reduced-motion: no-preference)
            interpolate-size: allow-keywords
        &::details-content
            opacity: 0
            block-size: 0
            transition: content-visibility 1s allow-discrete, opacity 1s ease, block-size 1s ease
        &[open]::before
            filter: blur(0px)
        &[open]::details-content
            opacity: 1
            block-size: auto
        summary
            height: 100%
            text-shadow: 0 0 .5rem black, 0 0 1rem black
            cursor: pointer
            writing-mode: vertical-lr
            text-align: left
            &::marker
                content: ''
        p
            position: relative
            text-shadow: 0 0 .5rem black, 0 0 1rem black
            writing-mode: horizontal-tb
            text-align: left
            height: 100%
            // width: 3rem
            // width: 100%