.radio__list
    display: flex
    flex-direction: column
    row-gap: .7rem
    border: none
    padding: .5rem 0 0 2.4rem
    legend
        display: none

.radio__item
    display: flex
    align-items: center
    column-gap: 1rem
    *
        cursor: pointer
    input[type="radio"]
        position: relative
        height: 1rem
        aspect-ratio: 1/1
        border: 2px solid var(--color-white)
        appearance: none
        border-radius: 100rem
        outline: none
        padding: 1px
        transition: background .3s ease
        &:checked
                background: var(--color-white)