.scrollbar__list
    display: flex
    position: fixed
    height: 100%
    width: max-content
    right: 0
    flex-direction: column
    justify-content: space-evenly
    z-index: 1
    // filter: url(#filter__inkBleed)

.scrollbar__item
    position: relative
    margin-right: .2rem
    direction: rtl
    list-style-type: none
    transition: color .3s ease
    --opacity-marker: 1
    --opacity-text: 0
    &::after,
    &::before
        width: 100%
        text-align: center
        transition: opacity .3s ease
    &::after
        content: '●'
        position: absolute
        left: 0
        top: 0
        opacity: var(--opacity-marker)
        cursor: pointer
    &::before
        content: attr(data-num)
        display: inline-block
        color: currentColor
        opacity: var(--opacity-text)
    &:last-of-type
        color: yellow