.visit-card
    display: none
    position: absolute
    height: max-content
    width: 450px
    bottom: 200px
    left: calc( 50% -  (450px / 2))
    *
        vector-effect: non-scaling-stroke
    text
        fill: #000000f8
    .visit-card__bg
        filter: url(#filter__roughPaper)
        stroke: none
        fill: currentColor
    &__text
        filter: url(#filter__neumorphism-inner)
        mix-blend-mode: multiply
        rect
            fill: none
        text
            filter: url(#filter__inkBleed-SVG)
        a
            stroke-width: .5px
            stroke: #000000f8

.test
    position: absolute
    height: 150px
    width: 450px
    bottom: 200px
    left: calc( 50% -  (450px / 2))
    backdrop-filter: blur(2px)
    // mask-image: linear-gradient(black, transparent)