.visit-card
    position: absolute
    height: max-content
    width: 450px
    bottom: 200px
    left: calc( 50% -  (450px / 2))
    .font__NT
        font-size: 1rem
    text
        filter: none
        vector-effect: non-scaling-stroke
        fill: #000000f8
        font-weight: bold
    rect
        filter: url(#roughpaper) url(#neumorphism-outer)
        stroke: none
        fill: currentColor
    &__text
        filter: url(#neumorphism-inner)
        mix-blend-mode: multiply
        text
            filter: url(#inkBleed__SVG)
        rect
            fill: none
        a
            stroke: #000000f8
            stroke-width: .5px