.section__about
    display: grid
    grid: repeat(2, 1fr) / repeat(2, 1fr)
    column-gap: 1rem
    canvas
        grid-area: 1 / 1 / -1 / -1
        position: absolute
        left: -7rem
        top: -7rem
    .description
        grid-area: 1 / 1 / -1 / 2
        align-self: start
        width: 70%
        @include respond(phone)
            grid-area: 1 / 1 / -2 / -1
    .list-phase
        grid-area: 2 / 2 / -1 / -1
        @include respond(phone)
            grid-area: 2 / 1 / -1 / -1
            vertical-align: bottom
            &__details
                bottom: 0