.cover
    grid-area: 2 / 3 / 3 / 4
    display: flex
    align-items: center
    justify-content: center
    flex-direction: column
    display: none

.cover__subtitle
    display: grid
    grid: repeat(3, auto) / repeat(3, auto)
    column-gap: .8rem