.section__cover
    grid-area: 1 / 1 / 2 / 2
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    justify-self: center
    row-gap: 1.4rem

.cover__title
    display: flex
    align-items: center
    justify-content: center
    justify-self: center
    row-gap: 1.4rem
    h1

// .cover__subtitle
//     position: relative
//     row-gap: .4rem
//     display: flex
//     flex-direction: column
//     width: 93%
//     &-row
//         position: relative
//         display: flex
//         h3
//             flex-shrink: 0
//         .stretch__dots
//             flex-grow: 1
//             height: 1em
//             overflow: hidden
//             word-wrap: break-word
//             letter-spacing: 5px
//             text-align: center
//             &::after
//                 content: '......................................................................................................................'
//                 color: #727272