.section__cover
    grid-area: 1 / 1 / 2 / 2
    // grid-area: 2 / 3 / 3 / 4
    display: flex
    align-items: center
    justify-content: center
    flex-direction: column
    width: max-content
    justify-self: center

.cover__subtitle
    display: grid
    grid: repeat(3, auto) / repeat(3, auto)
    column-gap: .8rem