.section__hard-skills
    grid-area: 4 / 1 / 5 / 2
    justify-self: center
    display: flex
    align-items: center
    justify-content: center
    flex-direction: column
    row-gap: 4rem
    width: max-content
    .description
        // grid-area: 2 / 4 / -2 / 7
        align-items: center
    &,
    .description__paragraph
        text-align: center
    // .grid_hexagon
    //     grid-area: 1 / 1 / -1 / -1