.section__hard-skills
    justify-self: center
    display: flex
    align-items: center
    justify-content: center
    align-content: center
    flex-direction: column
    row-gap: 4rem
    overflow: hidden
    .description
        align-items: center
        margin-bottom: 25%
    .description__paragraph
        text-align: center
    .grid-hexagon
        position: absolute