.main
    position: relative
    display: grid
    grid: repeat(4, 100vh) / 7rem repeat(3, 1fr) 7rem
    left: 0
    top: 0
    section
        position: relative
        height: 100vh
        width: 100%
        border: 1px solid black