.main
    position: relative
    // display: grid
    // grid: repeat(4, 100vh) / 100%
    display: flex
    flex-direction: column
    align-items: center
    height: 100vh
    overflow-x: hidden
    overflow-y: scroll
    // scroll-snap-type: y proximity
    left: 0
    top: 0
    z-index: 0
    // background: black
    // background: gray
    // mask: linear-gradient(to bottom, hsla(0, 0%, 0%, 0) 0%, hsla(0, 0%, 0%, 0.013) 4%, hsla(0, 0%, 0%, 0.049) 7.1%, hsla(0, 0%, 0%, 0.104) 9.6%, hsla(0, 0%, 0%, 0.175) 11.8%, hsla(0, 0%, 0%, 0.259) 13.9%, hsla(0, 0%, 0%, 0.352) 16.3%, hsla(0, 0%, 0%, 0.45) 19.3%, hsla(0, 0%, 0%, 0.55) 23.2%, hsla(0, 0%, 0%, 0.648) 28.2%, hsla(0, 0%, 0%, 0.741) 34.7%, hsla(0, 0%, 0%, 0.825) 43%, hsla(0, 0%, 0%, 0.896) 53.4%, hsla(0, 0%, 0%, 0.951) 66.2%, hsla(0, 0%, 0%, 0.987) 81.6%, hsl(0, 0%, 0%) 100%) top / 100% 10% no-repeat, linear-gradient(to top, hsla(0, 0%, 0%, 0) 0%, hsla(0, 0%, 0%, 0.013) 4%, hsla(0, 0%, 0%, 0.049) 7.1%, hsla(0, 0%, 0%, 0.104) 9.6%, hsla(0, 0%, 0%, 0.175) 11.8%, hsla(0, 0%, 0%, 0.259) 13.9%, hsla(0, 0%, 0%, 0.352) 16.3%, hsla(0, 0%, 0%, 0.45) 19.3%, hsla(0, 0%, 0%, 0.55) 23.2%, hsla(0, 0%, 0%, 0.648) 28.2%, hsla(0, 0%, 0%, 0.741) 34.7%, hsla(0, 0%, 0%, 0.825) 43%, hsla(0, 0%, 0%, 0.896) 53.4%, hsla(0, 0%, 0%, 0.951) 66.2%, hsla(0, 0%, 0%, 0.987) 81.6%, hsl(0, 0%, 0%) 100%) bottom / 100% 10% no-repeat, linear-gradient(black) center / 100% 81% no-repeat
    &::-webkit-scrollbar
        display: none