.nav
    position: fixed
    height: auto
    width: 100%
    z-index: 1
    &__content
        display: inline-flex
        column-gap: 1.2rem
        justify-content: start
        align-items: center
        height: auto
        width: max-content
        margin: .6rem 1.4rem
        padding: .4rem
        text-shadow: 0 0 .25rem black, 0 0 .5rem black, 0 0 1rem black
        // &::before
        //     content: ''
        //     position: absolute
        //     height: 100%
        //     width: 98%
        //     left: 50%
        //     translate: -50% 0
        //     border-bottom: .2px solid #484848