.nav
    position: fixed
    display: flex
    justify-content: center
    height: auto
    width: 100%
    z-index: 1
    &__titul
        margin: .5rem 1.8rem
        text-shadow: 0 0 .25rem black, 0 0 .5rem black, 0 0 1rem black