.section__soft-skills
    grid-area: 3 / 1 / 4 / 2
    .description
        grid-area: 1 / 7 / -1 / -2
        align-items: end
        // margin-top: 7rem
        &,
        .description__paragraph
            text-align: right
    .list-details
        grid-area: 1 / 2 / -1 / -4
        align-self: anchor-center
        height: 80%
    // canvas
    //     grid-area: 1 / 1 / -1 / -1