.section__soft-skills
    grid-area: 3 / 1 / 4 / 2
    display: none
    .description
        grid-area: 2 / 7 / -2 / -2
        align-items: end
        align-self: start
        &,
        .description__paragraph
            text-align: right
    .list-details
        grid-area: 2 / 2 / -2 / -4
        align-self: anchor-center